config-local.properties
# .idea but not runConfigurations
.idea/*
!/.idea/runConfigurations
.venv
# any __pycache__ and .pyc files
__pycache__/
*.pyc
# folder for temp files
.tmp
# Folder for gitlab-ci-local (run pipeline locally)
.gitlab-ci-local
coverage.xml